[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"

[packages]
numpy = "*"
pandas = "*"
lambdata-davidanagy = {index = "https://test.pypi.org/simple/",version = "*"}
cstringio = "*"

[requires]
python_version = "3.7"
